html {
    height: 100%;
    display:flex;
    background:black;
}

body{
    min-height:100%;
    margin:0 auto;
}

#myCanvas {
    border:1px solid white;
    position:relative;
    height: 99vh;
   /* top:50%;
    /*transform: translateY(-50%);*/
}
